/**
 * Backgrounds
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/backgrounds/color";

/* Styles */

.bg-background-light-35 {
  background-color: var(--background-light-35);
}

.bg-current {
  background-color: currentcolor;
}

.bg-overlay::after {
  background: var(--foreground-base);
  opacity: 0.3;
}

.bg-gradient-0::after {
  background:
    linear-gradient(
      to top,
      var(--foreground-base) 0%,
      #{rgba(func.get-color("foreground-base"), 0)} 100%
    );
}

.bg-gradient-135,
.bg-gradient-135-before::before {
  background:
    linear-gradient(
      135deg,
      hsla(var(--from)) 0%,
      hsla(var(--to)) 100%
    );
}
