node_modules/
package-lock.json
_site/
_json/slugs.json
_json/slug-parents.json
_json/archive-counts.json
_json/durations.json
netlify/functions/serverless/**
!netlify/functions/serverless/index.js
.DS_Store
.cache
# Local Netlify folder
.netlify
