---
layout: layout.njk
pagination:
  data: contentful.archive
  size: 1
  alias: ctfl
permalink:
  build: "/{{ ctfl.slug }}/"
  serverless: "/{{ ctfl.slug }}/"
---

{% include ('./_includes/header.njk') %}

{% include ('./_includes/breadcrumbs.njk') %}

<main id="main">
  {{ ctfl.content | safe }}
</main>

{% include ('./_includes/footer.njk') %}
