---
layout: layout.njk
pagination:
  data: contentful
  size: 1
  alias: ctfl
permalink: "/{{ ctfl.slug }}/"
---

<main>
  {% include ('_includes/hero.njk') %}
  {% include ('_includes/sections.njk') %}
</main>