---
layout: layout.njk
pagination:
  data: contentful
  size: 1
  alias: ctfl
permalink: "/{{ ctfl.slug }}/"
---

{% include ('_includes/header.njk') %}

<main>
  {% include ('_includes/hero.njk') %}
  {% include ('_includes/sections.njk') %}
</main>

{% include ('_includes/footer.njk') %}