---
layout: layout.njk
pagination:
  data: contentful
  size: 1
  alias: c
permalink: "/{{ c.fields.slug }}/"
eleventyComputed:
  title: "{{ c.fields.title }}"
---

<div>
  <h1>
    {{ title }}
  </h1>
</div>