/**
 * Objects - Info Styles
 */

.info-error {
  --in-theme: var(--ok-negative-color);
  --ok-bg-from: var(--ok-negative-hsl), 0.1;
  --ok-bg-to: var(--ok-negative-hsl), 0.05;
}

.info-success {
  --in-theme: var(--ok-positive-color);
  --ok-bg-from: var(--ok-positive-hsl), 0.1;
  --ok-bg-to: var(--ok-positive-hsl), 0.05;
}

.info-neutral {
  --in-theme: var(--ok-sharp-color);
  --ok-bg-from: var(--ok-neutral-hsl), 0.1;
  --ok-bg-to: var(--ok-neutral-hsl), 0.05;
}

.info-error,
.info-success,
.info-neutral {
  position: var(--info-pos, static);
  inset: var(--info-inset, auto);
  flex-direction: var(--info-layout, row);
  justify-content: var(--info-justify, start);
  align-items: var(--info-align, start);
  text-align: var(--info-align, left);

  svg {
    color: var(--in-theme);
  }

  &[tabindex="-1"]:focus {
    box-shadow: inset 0 0 0 var(--ok-outline-width) var(--in-theme);
  }
}
