/**
 * Components - audio
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/mixins" as mix;
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

.audio {
  --aud-y: 100%;

  transform: translateY(var(--aud-y));

  &[open] {
    --aud-y: 0;
  }
}

.audio-info {
  @include mix.breakpoint-min("m") {
    width: func.calc-rem(200px);
  }

  @include mix.breakpoint-min("l") {
    width: func.calc-rem(250px);
  }
}

.audio-offset,
.audio-offset-l {
  padding-left: var(--offset, #{func.calc-rem(2px)});

  @include mix.breakpoint-min("m") {
    --offset: 0;
  }
}

.audio-offset-l {
  --offset: #{func.calc-rem(7px)};
}

.audio-progress {
  @include mix.breakpoint-min("m") {
    width: auto;
  }
}

.audio-progress {
  touch-action: none;
  user-select: none;
  cursor: pointer;

  &::before {
    height: var(--ok-m);
    top: func.calc-rem(-10px);
    left: func.calc-rem(-5px);
    right: func.calc-rem(-5px);
  }

  @include mix.breakpoint-min("m") {
    &::before {
      top: func.calc-rem(-20px);
    }
  }
}

.audio-bar {
  height: func.calc-rem(3px);
  background: rgba(func.get-color("foreground-base"), 0.2);
}

.audio-bar {
  transform: scaleX(0.2);
  transform-origin: 0 0;
  border-top-left-radius: var(--ok-border-radius-s);
  border-bottom-left-radius: var(--ok-border-radius-s);
}

.audio-scrub {
  --ok-prop: opacity;
  --ok-duration: 100ms;

  top: func.calc-rem(-3.5px);
  left: func.calc-rem(-5px);
  opacity: var(--opacity, 0);

  .audio-progress:hover &,
  .audio-progress[data-dragging="true"] & {
    --opacity: 1;
  }
}

.audio-close {
  @include mix.breakpoint-min("container") {
    width: var(--r);
    height: var(--r);
  }
}

.audio-error {
  padding: var(--ok-3xs);
  max-width: var(--ok-container);

  @include mix.breakpoint-min("m") {
    padding: 0 var(--ok-2xs) var(--ok-2xs) var(--ok-2xs);
  }
}

.e-bg-foreground-base-12 {
  &:hover {
    background: hsla(var(--ok-foreground-base-hsl), 0.125);
  }
}
