/**
 * Objects - form
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.o-form {
  --input-padding: var(--3xs) var(--2xs);
  --label-margin: var(--4xs);
  --border-width: 0.0625rem;

  fieldset {
    @extend %u-width-100-pc;
  }

  label {
    @extend %u-display-block;
  }

  label,
  legend {
    > span:first-child {
      @extend %u-line-height-130-pc;
      @extend %u-color-background-light;
      @extend %u-font-weight-medium;

      font-size: var(--t-m);
    }
  }

  label:first-child,
  legend:first-child {
    margin-bottom: var(--label-margin);
  }

  input[type="search"],
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea,
  select {
    @extend %u-width-100-pc;
    @extend %u-font-weight-light;
    @extend %u-color-background-light;
    @extend %u-line-height-160-pc;

    padding: var(--input-padding);
    border-radius: var(--border-radius-s);
    font-size: var(--t-l);
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
    transition: box-shadow var(--duration) var(--easing);

    &:focus {
      --outline-width: 0;
      --border-color: var(--outline-color);
    }

    &:focus,
    &[aria-invalid="true"] {
      --border-width: 0.125rem;
    }

    &[aria-invalid="true"] {
      --border-color: var(--negative);

      &:focus {
        --border-color: var(--outline-color);
      }
    }
  }

  /* Required */

  legend[data-required] > span:first-child [data-required-icon]::after,
  [data-label][data-required] > span:first-child [data-required-icon]::after,
  [data-required] > [data-label] > span:first-child [data-required-icon]::after {
    content: " *";
    color: var(--negative);
  }

  @include mix.breakpoint-min("m") {
    --label-margin: var(--3xs);
  }
}

/* Result */

.o-form__error {
  color: var(--negative);
}
