/**
 * Objects: track
 */

/* Imports */

@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.o-track-bg::before,
.o-track-bg-b::before {
  @extend %u-opacity-0;

  background: var(--foreground-light);
  box-shadow: 0 0 0 func.calc-rem(1px) var(--foreground-light);
  left: func.calc-rem(-26px);
  right: func.calc-rem(-26px);
  width: calc(var(--target-width) + func.calc-rem(52px));
}

.o-track-bg::before {
  border-radius: var(--border-radius-s);
  height: var(--track-height);
}

.o-track-bg-b::before {
  border-bottom-left-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
}

.o-track {
  --border-color: var(--foreground-tint);
  --track-height: var(--2xl);

  &[data-active="true"] {
    @extend %u-position-relative;
    @extend %u-z-index-1;

    .o-track-bg::before {
      border: func.calc-rem(1px) solid var(--background-light-35);
    }

    + tr .o-track-bg-b::before {
      border: func.calc-rem(1px) solid var(--background-light-35);
      border-top: 0;
      box-shadow: none;
    }
  }

  &:hover,
  &[data-active="true"] {
    .o-track-bg::before,
    + tr .o-track-bg-b::before {
      @extend %u-opacity-1;
    }

    + tr .o-track-bg-b::before {
      top: func.calc-rem(-6px);
    }
  }

  @include mix.breakpoint-min("m") {
    --track-height: var(--3xl);
  }
}

.o-track__cell {
  height: var(--track-height);
}
