/**
 * Objects - form
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.o-form {
  --input-padding: var(--ok-3xs) var(--ok-2xs);
  --label-margin: var(--ok-4xs);
  --ok-border-width: 0.0625rem;

  fieldset {
    width: 100%;
  }

  label,
  legend {
    > span:first-child {
      font-size: var(--ok-font-20-flex);
      font-weight: var(--ok-font-weight-medium);
      line-height: var(--ok-line-height-base);
      color: var(--ok-background-light);
    }
  }

  label:first-child,
  legend:first-child {
    margin-bottom: var(--label-margin);
  }

  input[type="search"],
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea,
  select {
    width: 100%;
    font-weight: var(--ok-font-weight-light);
    line-height: var(--ok-line-height-loose);
    color: var(--ok-background-light);
    padding: var(--input-padding);
    border-radius: var(--ok-border-radius-s);
    font-size: var(--ok-font-22-flex);
    box-shadow: inset 0 0 0 var(--ok-border-width) var(--ok-border-color);
    transition: box-shadow var(--ok-duration) var(--ok-easing);

    &:focus {
      --ok-outline-width: 0;
      --ok-border-color: var(--ok-outline-color);
    }

    &:focus,
    &[aria-invalid="true"] {
      --ok-border-width: 0.125rem;
    }

    &[aria-invalid="true"] {
      --ok-border-color: var(--ok-negative);

      &:focus {
        --ok-border-color: var(--ok-outline-color);
      }
    }
  }

  /* Honeypot */

  [data-asi] {
    display: none;
  }

  /* Required */

  legend[data-required] > span:first-child [data-required-icon]::after,
  [data-label][data-required] > span:first-child [data-required-icon]::after,
  [data-required] > [data-label] > span:first-child [data-required-icon]::after {
    content: " *";
    color: var(--ok-negative);
  }

  @include mix.breakpoint-min("m") {
    --label-margin: var(--ok-3xs);
  }
}

/* Result */

.o-form__error {
  color: var(--ok-negative);
}
