/**
 * Components - Media Audio Styles
 */

/* Imports */

@use "sass:math";
@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.media-audio {
  --med-y: 100%;

  transform: translateY(var(--med-y));

  &[open] {
    --med-y: 0;

    position: sticky;
  }

  &[playing] {
    --med-play-display: none;
    --med-pause-display: block;
  }

  &[dragging] {
    --med-scrub-opacity: 1;
  }

  @include util.breakpoint-min("m") {
    --med-text-width: #{util.calc-rem(200px)};
    --med-prog-top: #{util.calc-rem(-20px)};
    --med-prog-width: auto;
    --med-seek-margin: 0;
  }

  @include util.breakpoint-min("l") {
    --med-text-width: #{util.calc-rem(250px)};
  }
}

.media-audio-control:hover {
  background: hsla(var(--ok-foreground-base-hsl), 0.125);
}

.media-audio-play {
  display: var(--med-play-display, block);
}

.media-audio-pause {
  display: var(--med-pause-display, none);
}

.media-audio-text {
  width: var(--med-text-width, auto);
}

.media-audio-seek {
  margin: 0 var(--med-seek-margin, var(--ok-5xs));
}

.media-audio-progress {
  width: var(--med-prog-width, 100%);
  height: #{util.calc-rem(3px)};
  touch-action: none;
  user-select: none;
  cursor: pointer;

  &::before {
    height: var(--ok-m);
    top: var(--med-prog-top, #{util.calc-rem(-10px)});
    left: #{util.calc-rem(-5px)};
    right: #{util.calc-rem(-5px)};
  }

  &:hover {
    --med-scrub-opacity: 1;
  }
}

.media-audio-bar {
  background: hsla(var(--ok-foreground-base-hsl), 0.2);
  height: inherit;

  &::after {
    background: var(--ok-foreground-base),;
    transform: scaleX(var(--med-progress-bar));
    transform-origin: 0 0;
  }
}

.media-audio-scrub {
  --ok-prop: opacity;
  --ok-duration: 100ms;

  top: #{util.calc-rem(-3.5px)};
  left: #{util.calc-rem(-5px)};
  opacity: var(--med-scrub-opacity, 0);
  transform: translateX(var(--med-progress-scrub));
}
