/**
 * Components - gradients
 */

/* Imports */

@use "@alanizcreative/formation/src/config";

/* Container */

.c-gradients {
  &::before,
  &::after {
    @extend %u-border-radius-100-pc;

    height: 100vw;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(var(--from)) 0%,
      rgba(var(--between)) 75%, /* Hack to blend into a different color */
      rgba(var(--to)) 100%
    );
  }

  &::before {
    @extend %u-transform-origin-0-0;

    max-height: 47rem;
    transform: scale(2) translate(-50%, -50%);
  }

  &::after {
    @extend %u-transform-origin-100-pc-100-pc;

    top: auto;
    max-height: 23.5rem;
    transform: scale(2) translate(50%, 50%);
    opacity: 0.5;
  }
}
