/**
 * Components - nav
 */

/* Imports */

@use "sass:map";
@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/components/nav";
@use "@alanizcreative/formation/src/components/nav/overflow";
@use "@alanizcreative/formation/src/components/nav/icon";
@use "@alanizcreative/formation/src/components/nav/icon/one";

/* Container */

.c-nav {
  z-index: map.get(con.$z-index, "nav");
}

/* Logo */

.c-nav__logo {
  margin-right: var(--2xl);
}

/* Item */

.c-nav__item {
  .c-nav__list &[data-depth="0"]:last-child {
    margin-right: 0.2rem;
  }
}

/* Link */

.c-nav__link {
  --duration: #{con.$default-duration};

  .c-nav__list &[data-depth="0"] {
    white-space: nowrap;
  }

  .c-nav-overflow &[data-depth="0"] {
    font-size: var(--h5);
  }

  &::after {
    @extend %u-transform-origin-0-100-pc;

    transform: scaleX(0);
    transition: transform var(--duration) var(--easing);
    height: func.calc-rem(1px);
    background: currentcolor;
    top: auto;
  }

  &:hover,
  &:active,
  &[data-current="true"],
  &[data-descendent-current="true"] {
    &::after {
      @extend %u-transform-origin-100-pc-100-pc;

      transform: scaleX(1);
    }
  }
}

/* Toggle buttons */

.c-nav__button {
  color: var(--background-light);
  z-index: 2;

  [data-open="true"] & {
    --outline-color: var(--foreground-base);

    color: var(--foreground-base);
  }

  .c-nav[data-overflow="true"] & {
    &[data-visible="true"] {
      @extend %u-display-block;
    }

    &[data-visible="false"] {
      @extend %u-display-none;
    }
  }
}

.c-nav__close {
  right: var(--container-padding);
  top: var(--2xs);
}

.c-nav-icon__middle {
  @extend %u-visibility-hidden;
}

.c-nav-icon-label {
  @extend %u-letter-spacing-3-pc;
}

/* Overflow */

.c-nav-overflow {
  --outline-color: var(--foreground-base);
  --prop: visibility, transform;
  --duration: 0ms, 400ms;
  --delay: 400ms, 10ms;

  max-width: 20rem;
  transform: translateX(100%);

  .c-nav[data-open="true"] & {
    --delay: 10ms, 0ms;

    transform: translateX(0);
  }
}

.c-nav-overflow__main {
  --prop: opacity;
  --duration: 200ms;
  --delay: 200ms;

  @extend %u-opacity-0;

  [data-show-items] & {
    --delay: 0ms;

    @extend %u-opacity-1;
  }
}

/* Overlay */

.c-nav__overlay {
  --prop: visibility, opacity;
  --duration: 0ms, 400ms;
  --delay: 400ms, 10ms;

  @extend %u-opacity-0;

  background: var(--foreground-base-80);

  .c-nav[data-open="true"] & {
    --delay: 10ms, 0ms;

    @extend %u-opacity-1;
  }
}
