/**
 * Base: fonts
 */

@font-face {
  font-family: Americana;
  src:
    url("../fonts/americana-roman.woff2") format("woff2"),
    url("../fonts/americana-roman.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Americana;
  src:
    url("../fonts/americana-bold.woff2") format("woff2"),
    url("../fonts/americana-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Questa Sans";
  src:
    url("../fonts/questa-sans-light.woff2") format("woff2"),
    url("../fonts/questa-sans-light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Questa Sans";
  src:
    url("../fonts/questa-sans-light-italic.woff2") format("woff2"),
    url("../fonts/questa-sans-light-italic.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Questa Sans";
  src:
    url("../fonts/questa-sans-medium.woff2") format("woff2"),
    url("../fonts/questa-sans-medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
