/**
 * Effects - title line
 */

/* Imports */

@use "@alanizcreative/formation/src/config" as con;

/* Styles */

.e-title-line {
  [data-title] {
    white-space: nowrap;

    &::after {
      content: "";
      background: var(--background-light);
      display: inline-block;
      width: var(--s);
      height: 0.0625rem;
      margin-bottom: var(--5xs);
      margin-left: var(--5xs);
      transition: transform var(--duration) var(--easing);
      transform-origin: 0 0;
      transform: scaleX(0);
    }
  }

  &:hover [data-title]::after {
    transform: scaleX(1);
  }
}
