/**
 * Effects - underline
 */

/* Styles */

--underline: #{func.calc-rem(1px)};
  --underline-offset: 0.3125rem;

.e-underline-thin {
  --underline: 0.04rem;
  --underline-offset: 0.25rem;
}

.e-underline-all a,
.e-underline a[data-rich],
.e-underline-reverse a[data-rich] {
  text-decoration: underline;
  text-decoration-thickness: var(--underline);
  text-underline-offset: var(--underline-offset);
  text-decoration-color: var(--color);
  transition: text-decoration-color 300ms var(--easing);
}

.e-underline-all a,
.e-underline a[data-rich] {
  --color: currentcolor;
}

.e-underline-reverse a[data-rich] {
  --color: transparent;
}

.e-underline-all a:hover,
.e-underline-all a:active,
.e-underline a[data-rich]:hover,
.e-underline a[data-rich]:active {
  --color: hsla(var(--sharp-hsl), 0.5);
}

.e-underline-reverse a[data-rich]:hover,
.e-underline-reverse a[data-rich]:active {
  --color: currentcolor;
}
