---
layout: layout.njk
pagination:
  data: contentful.index
  size: 1
  alias: ctfl
permalink: "/{{ ctfl.slug }}/"
---

{% include ('./includes/header.njk') %}

{% include ('./includes/breadcrumbs.njk') %}

<main id="main">
  {{ ctfl.content | safe }}
</main>

{% include ('./includes/footer.njk') %}
