/**
 * Config
 */

/* Vertical padding */

$padding-vertical: (
  "5xs",
  "4xs",
  "3xs",
  "2xs",
  "xs",
  "s",
  "m",
  "xl",
  "2xl",
  "3xl",
  "4xl",
);

/* Horizontal padding */

$padding-horizontal: (
  "5xs",
  "4xs",
  "3xs",
  "2xs",
  "s",
  "m",
);

/* Gaps */

$gaps: (
  "5xs",
  "4xs",
  "3xs",
  "2xs",
  "s",
  "m",
  "l",
  "xl",
  "2xl",
);

/* Config variables */

@use "@alanizcreative/formation/src/config" with (

  /* Colors */

  $colors: (
    "foreground": (
      "base": #17181d,
      "light": #232428,
      "dark": #000000,
      "tint": #45464a,
    ),
    "background": (
      "light": #ffffff,
    ),
    "negative": (
      "light": #cf6f74,
      "dark": #b23b41,
    ),
    "positive": (
      "light": #509976,
      "dark": #3c7258,
    ),
  ),

  $text-colors: (
    "foreground-base",
    "background-light",
  ),

  $background-colors: (
    "foreground-base",
    "foreground-light",
    "foreground-dark",
    "background-light",
  ),

  /* Fonts */

  $font-families: (
    "primary": (
      "Questa Sans",
      Helvetica,
      Arial,
      sans-serif,
    ),
    "secondary": (
      "Americana",
      Georgia,
      Times,
      serif,
    ),
  ),

  $font-weights: (
    "light": 300,
    "normal": 400,
    "medium": 500,
    "bold": 700,
  ),

  /* Breakpoints */

  $breakpoints: (
    "0": 0px,
    "xs": 300px,
    "s": 600px,
    "m": 900px,
    "l": 1200px,
  ),

  /* Spacing */

  $spacing: (
    "5xs": 5px,
    "4xs": 10px,
    "3xs": 15px,
    "2xs": 20px,
    "xs": 25px,
    "s": 30px,
    "r": 35px,
    "m": 40px,
    "l": 50px,
    "xl": 60px,
    "2xl": 80px,
    "3xl": 100px,
    "4xl": 120px,
  ),

  /* Padding */

  $padding-top: $padding-vertical,
  $padding-bottom: $padding-vertical,
  $padding-vertical-breakpoints: ("m"),

  $padding-left: $padding-horizontal,
  $padding-right: $padding-horizontal,

  /* Margin */

  $margin-bottom: $gaps,
  $margin-bottom-all: $gaps,
  $margin-vertical-breakpoints: ("m"),

  /* Aspect ratios */

  $aspect-ratio-padding: (
    "56": 56.25%,
    "80": 80%,
  ),

  /* Widths */

  $width-percentage-breakpoints: (
    "s",
    "m",
    "l",
  ),

  $widths: (
    "4xs",
    "2xs",
    "xs",
    "s",
    "r",
    "m",
    "l",
    "xl",
    "2xl",
  ),

  $width-breakpoints: ("s", "m"),

  /* Heights */

  $heights: (
    "4xs",
    "2xs",
    "xs",
    "s",
    "r",
    "m",
    "l",
    "xl",
    "2xl",
  ),

  $height-breakpoints: ("s", "m"),

  /* Gaps */

  $gaps: $gaps,
  $gap-breakpoints: ("s", "m", "l"),

  /* Containers */

  $container-padding: 20px,
  $containers: (
    "default": 1340px,
    "m": 1080px,
    "s": 690px,
  ),

  /* Flex */

  $flex-row-breakpoints: ("s", "l"),

  /* Nav icon */

  $nav: (
    "icon": (
      "width": 40px,
      "line-width": 1.5px,
      "margin": 4px,
    )
  ),

  /* Borders */

  $borders: (
    "sides": ("all", "top"),
    "colors": (
      "default": "var(--background-light-35)",
      "separator": "var(--background-light-20)",
      "current": "currentcolor"
    ),
    "widths": (
      "default": 0.0625rem,
    ),
  ),

  $border-radius: (
    "s": 6px,
    "m": 12px,
  ),

  /* Outline */

  $outline: (
    "width": 0.175rem,
    "color": "var(--background-light)",
    "offset": 0.3rem,
  ),

  /* Transitions */

  $transitions: (
    "default": (
      "duration": 400ms,
    ),
    "quad": (
      "easing": "cubic-bezier(0.45, 0, 0.55, 1)",
    ),
  ),

  /* Placeholders */

  $placeholders: (
    (
      "name": "line-height-160-pc",
      "prop": (
        line-height: 1.6
      ),
    ),
    (
      "name": "line-height-140-pc",
      "prop": (
        line-height: 1.4
      ),
    ),
    (
      "name": "line-height-130-pc",
      "prop": (
        line-height: 1.3
      ),
    ),
    (
      "name": "letter-spacing-1-pc",
      "prop": (
        letter-spacing: 0.01em
      ),
    ),
    (
      "name": "letter-spacing-2-pc",
      "prop": (
        letter-spacing: 0.02em
      ),
    ),
    (
      "name": "letter-spacing-3-pc",
      "prop": (
        letter-spacing: 0.03em
      ),
    ),
  ),

);
