/**
 * Config
 */

/* Vertical padding */

$padding-vertical: (
  "5xs",
  "4xs",
  "3xs",
  "2xs",
  "s",
  "m",
  "xl",
  "2xl",
  "4xl",
);

/* Config variables */

@use "@alanizcreative/formation/src/config" with (

  $colors: (
    "foreground": (
      "base": #17181d,
      "light": #232428,
      "dark": #000000,
      "tint": #45464a,
    ),
    "background": (
      "light": #ffffff,
    ),
    "negative": #cf6f74,
    "positive": #509976,
  ),

  $text-colors: (
    "foreground-base",
    "background-light",
  ),

  $background-colors: (
    "foreground-base",
    "foreground-light",
    "foreground-dark",
    "background-light",
  ),

  $font-families: (
    "primary": (
      "Questa Sans"
      Helvetica,
      Arial,
      sans-serif,
    ),
    "secondary": (
      "Americana",
      Georgia,
      Times,
      serif,
    ),
  ),

  $font-weights: (
    "bold": 700,
    "medium": 500,
    "normal": 400,
    "light": 300,
  ),

  $breakpoints: (
    "0": 0px,
    "xs": 400px,
    "s": 600px,
    "m": 900px,
    "l": 1000px,
    "xl": 1200px,
  ),

  $spacing: (
    "5xs": 5px,
    "4xs": 10px,
    "3xs": 15px,
    "2xs": 20px,
    "xs": 25px,
    "s": 30px,
    "sm": 35px,
    "m": 40px,
    "l": 50px,
    "xl": 60px,
    "2xl": 80px,
    "3xl": 100px,
    "4xl": 120px,
  ),

  $padding-top: $padding-vertical,
  $padding-bottom: $padding-vertical,
  $padding-vertical-breakpoints: ("l"),

  $gaps: (
    "5xs",
    "4xs",
    "3xs",
    "2xs",
    "s",
    "m",
    "l",
    "xl",
    "2xl",
  ),

  $gap-breakpoints: ("m", "l"),

  $container-padding: 20px,
  $containers: (
    "default": 1340px,
    "medium": 1080px,
    "small": 690px,
  ),

);
