/**
 * Config
 */

/* Vertical padding */

$padding-vertical: (
  "5xs",
  "4xs",
  "3xs",
  "2xs",
  "xs",
  "s",
  "m",
  "xl",
  "2xl",
  "3xl",
  "4xl",
);

/* Horizontal padding */

$padding-horizontal: (
  "s",
);

/* Config variables */

@use "@alanizcreative/formation/src/config" with (

  $colors: (
    "foreground": (
      "base": #17181d,
      "light": #232428,
      "dark": #000000,
      "tint": #45464a,
    ),
    "background": (
      "light": #ffffff,
    ),
    "negative": #cf6f74,
    "positive": #509976,
  ),

  $text-colors: (
    "foreground-base",
    "background-light",
  ),

  $background-colors: (
    "foreground-base",
    "foreground-light",
    "foreground-dark",
    "background-light",
  ),

  $font-families: (
    "primary": (
      "Questa Sans"
      Helvetica,
      Arial,
      sans-serif,
    ),
    "secondary": (
      "Americana",
      Georgia,
      Times,
      serif,
    ),
  ),

  $font-weights: (
    "light": 300,
    "normal": 400,
    "medium": 500,
    "bold": 700,
  ),

  $breakpoints: (
    "0": 0px,
    "xs": 400px,
    "s": 600px,
    "m": 900px,
    "l": 1000px,
    "xl": 1200px,
  ),

  $spacing: (
    "5xs": 5px,
    "4xs": 10px,
    "3xs": 15px,
    "2xs": 20px,
    "xs": 25px,
    "s": 30px,
    "m": 40px,
    "l": 50px,
    "xl": 60px,
    "2xl": 80px,
    "3xl": 100px,
    "4xl": 120px,
  ),

  $padding-top: $padding-vertical,
  $padding-bottom: $padding-vertical,
  $padding-vertical-breakpoints: ("l"),

  $padding-left: $padding-horizontal,
  $padding-right: $padding-horizontal,

  $widths: (
    "m",
    "l",
  ),

  $heights: (
    "m",
    "l",
  ),

  $gaps: (
    "5xs",
    "4xs",
    "3xs",
    "2xs",
    "s",
    "m",
    "l",
    "xl",
    "2xl",
  ),

  $gap-breakpoints: ("m", "l"),

  $container-padding: 20px,
  $containers: (
    "default": 1340px,
    "medium": 1080px,
    "small": 690px,
  ),

  $nav: (
    "icon": (
      "width": 40px,
      "line-width": 1.5px,
      "margin": 4px,
    )
  ),

  $outline: (
    "width": 0.25rem,
    "color": "var(--background-light)",
    "offset": 0.25rem,
  ),

  $placeholders: (
    (
      "name": "line-height-130-pc",
      "prop": (
        line-height: 1.3
      ),
    ),
    (
      "name": "line-height-160-pc",
      "prop": (
        line-height: 1.6
      ),
    ),
    (
      "name": "letter-spacing-1-pc",
      "prop": (
        letter-spacing: 0.01em
      ),
    ),
    (
      "name": "letter-spacing-2-pc",
      "prop": (
        letter-spacing: 0.02em
      ),
    ),
    (
      "name": "letter-spacing-3-pc",
      "prop": (
        letter-spacing: 0.03em
      ),
    ),
  ),

);
