/**
 * Objects - Button Global Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.button {
  --btn-translate: #{util.calc-rem(-2px)};
  --btn-offset: #{util.calc-rem(6px)};
  --btn-drop: var(--ok-inverse-color);

  display: inline-flex;
  justify-content: center;
  position: relative;
  text-decoration: none;
  padding: var(--btn-padding, var(--ok-4xs) var(--ok-3xs));
  font-size: var(--btn-size, var(--ok-font-18));
  font-family: var(--ok-font-primary);
  font-weight: var(--ok-font-weight-medium);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: var(--btn-offset);
    left: var(--btn-offset);
    border-right: #{util.calc-rem(1px)} solid var(--btn-drop);
    border-bottom: #{util.calc-rem(1px)} solid var(--btn-drop);
    border-bottom-right-radius: #{util.calc-rem(9px)};
    opacity: var(--btn-opacity, 0);
    transform: translate(var(--btn-translate), var(--btn-translate));
    transition:
      opacity var(--ok-duration) var(--ok-easing),
      transform var(--ok-duration) var(--ok-easing);
  }

  &:hover::after {
    --btn-opacity: 1;
    --btn-translate: 0;
  }
}

.button-primary {
  background: var(--ok-sharp-color);
  color: var(--ok-inverse-color);
}

.button-secondary {
  --btn-offset: #{util.calc-rem(7px)};
  --btn-drop: hsla(var(--ok-sharp-hsl), 0.5);

  color: var(--ok-sharp-color);
}

.button-l {
  --btn-padding: var(--ok-3xs) var(--ok-2xs);
  --btn-size: var(--ok-font-20);
}
