/**
 * Text: line clamp
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

.t-clamp {
	--font-size: var(--t-m);

	@extend %u-position-relative;
	@extend %u-overflow-hidden;
	@extend %u-display-inline-flex;

	&.t-xs {
		--font-size: var(--t-xs);
	}

	height: calc(var(--font-size) * 1.3);

	&::after {
		@extend %u-content-empty;
		@extend %u-text-align-right;
		@extend %u-position-absolute;
		@extend %u-right-0;
		@extend %u-bottom-0;

		width: var(--m);
		height: inherit;
		background: linear-gradient(
			to right,
			#{rgba(func.get-color("foreground-base"), 0)} 0%,
			#{rgba(func.get-color("foreground-base"), 1)} 100%,
		);
	}
}

@supports (-webkit-line-clamp: 1) {
	.t-clamp {
		height: auto;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;

		&::after {
			display: none;
		}
	}
}
