/**
 * Text - color
 */

/* Imports */

@use "sass:color";
@use "@alanizcreative/formation/src/text/color" as c;
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Variables */

$negative: func.get-color("negative-dark");
$positive: func.get-color("positive-dark");
$neutral: func.get-color("foreground-tint");

/* Styles */

.t-dark {
  --outline-color: var(--foreground-base);
  --heading-color: var(--foreground-base);
  --text-color: var(--foreground-base);
  --link-color: var(--foreground-base);
  --underline-hover: #{rgba(func.get-color("foreground-base"), 0.5)};
  --border-color: #{rgba(func.get-color("foreground-base"), 0.5)};
  --negative: var(--negative-dark);
  --positive: var(--positive-dark);
  --negative-hsl: #{color.hue($negative), color.saturation($negative), color.lightness($negative)};
  --positive-hsl: #{color.hue($positive), color.saturation($positive), color.lightness($positive)};
  --neutral-hsl: #{color.hue($neutral), color.saturation($neutral), color.lightness($neutral)};

  color: var(--text-color);
}

.t-foreground-base-60 {
  --text-color: #{rgba(func.get-color("foreground-base"), 0.6)};
}

.t-link-current {
  --link-color: currentcolor;
}

.t-current {
  color: currentcolor;
}

.t-background-light-20 {
  color: var(--background-light-20);
}

.t-background-light-60 {
  color: var(--background-light-60);
}
