/**
 * Text - rich text
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.t-rich-text {
  hr {
    margin: var(--m) 0;
  }

  h2 {
    margin: var(--m) 0 var(--4xs);
  }

  h3,
  h4,
  h5,
  h6 {
    margin: var(--s) 0 var(--4xs);
  }

  p[data-inline] {
    margin-bottom: var(--2xs);
  }

  ul[data-inline],
  ol[data-inline],
  blockquote[data-inline] {
    margin: var(--3xs) 0 var(--2xs) 5%;
  }

  figcaption[data-inline],
  blockquote[data-inline] {
    font-style: italic;
  }

  blockquote[data-inline] {
    p {
      font-size: inherit;
    }
  }

  ol[data-inline] ol {
    list-style-type: lower-alpha;
  }

  li[data-inline] {
    margin-top: var(--4xs);
    padding-left: var(--5xs);

    &::marker {
      font-size: 0.9em;
    }
  }

  a[data-button] {
    margin-top: var(--4xs);
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p[data-inline],
  ul[data-inline],
  ol[data-inline],
  a[data-button] {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mix.breakpoint-min("l") {
    hr {
      margin: var(--xl) 0;
    }

    h2 {
      margin: var(--xl) 0 var(--2xs);
    }

    h3,
    h4,
    h5,
    h6 {
      margin: var(--m) 0 var(--2xs);
    }

    p[data-inline] {
      margin-bottom: var(--s);
    }

    ul[data-inline],
    ol[data-inline],
    blockquote[data-inline] {
      margin: var(--s) 0 var(--s) 5%;
    }
  }
}
