/**
 * Objects - Collapsible Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/objects/Collapsible/Collapsible";

/* Styles */

.collapsible {
  &[expanded="true"] {
    --clp-rotate: 180deg;
  }
}

.collapsible-toggle {
  position: var(--clp-position);
  inset: var(--clp-inset);
}

.collapsible-icon {
  --ok-prop: transform;

  transform: rotate(var(--clp-rotate, 0deg));
}
