/**
 * Components - gradients
 */

/* Imports */

@use "@alanizcreative/formation/src/config";

/* Container */

.gradients {
  &::before,
  &::after {
    height: 100vw;
    border-radius: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      hsla(var(--bg-from)) 0%,
      hsla(var(--bg-between)) 75%, /* Hack to blend into a different color */
      hsla(var(--bg-to)) 100%
    );
  }

  &::before {
    max-height: 47rem;
    transform: scale(2) translate(-50%, -50%);
    transform-origin: 0 0;
  }

  &::after {
    top: auto;
    max-height: 23.5rem;
    transform: scale(2) translate(50%, 50%);
    transform-origin: 100% 100%;
    opacity: 0.5;
  }
}
