/**
 * Components - nav
 */

/* Imports */

@use "sass:map";
@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/components/nav";
@use "@alanizcreative/formation/src/components/nav/overflow";
@use "@alanizcreative/formation/src/components/nav/icon";
@use "@alanizcreative/formation/src/components/nav/icon/one";

/* Container */

.nav {
  z-index: map.get(con.$z-index, "nav");
}

/* Logo */

.nav-logo {
  margin-right: var(--2xl);
}

/* Item */

.nav-item {
  .nav-list &[data-depth="0"]:last-child {
    margin-right: 0.2rem;
  }
}

/* Link */

.nav-link {
  --duration: #{con.$default-duration};

  .nav-list &[data-depth="0"] {
    white-space: nowrap;
  }

  .nav-overflow &[data-depth="0"] {
    font-size: var(--font-20);
  }

  &::after {
    transform: scaleX(0);
    transform-origin: 0 100%;
    transition: transform var(--duration) var(--easing);
    height: func.calc-rem(1px);
    background: currentcolor;
    top: auto;
  }

  &:hover,
  &:active,
  &[data-current="true"],
  &[data-descendent-current="true"] {
    &::after {
      transform: scaleX(1);
      transform-origin: 100% 100%;
    }
  }
}

/* Toggle buttons */

.nav-button {
  color: var(--background-light);
  z-index: 2;

  [data-open="true"] & {
    --outline-color: var(--foreground-base);

    color: var(--foreground-base);
  }

  .nav[data-overflow="true"] & {
    &[data-visible="true"] {
      display: block;
    }

    &[data-visible="false"] {
      display: none;
    }
  }
}

.nav-close {
  right: var(--container-padding);
  top: var(--2xs);
}

.nav-icon__middle {
  visibility: hidden;
}

.nav-icon-label {
  letter-spacing: var(--letter-spacing-loose);
}

/* Overflow */

.nav-overflow {
  --outline-color: var(--foreground-base);
  --prop: visibility, transform;
  --duration: 0ms, 400ms;
  --delay: 400ms, 10ms;

  max-width: 20rem;
  transform: translateX(100%);

  .nav[data-open="true"] & {
    --delay: 10ms, 0ms;

    transform: translateX(0);
  }
}

.nav-overflow__main {
  --prop: opacity;
  --duration: 200ms;
  --delay: 200ms;

  opacity: var(--opacity, 0);

  [data-show-items] & {
    --delay: 0ms;
    --opacity: 1;
  }
}

/* Overlay */

.nav-overlay {
  --prop: visibility, opacity;
  --duration: 0ms, 400ms;
  --delay: 400ms, 10ms;

  background: hsla(var(--foreground-base-hsl), 0.8);
  opacity: var(--opacity, 0);

  .nav[data-open="true"] & {
    --delay: 10ms, 0ms;
    --opacity: 1;
  }
}
